* {
    margin: 0;
    padding: 0;
    font-family: lato;
	box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


/*logo*/

.navbar-logo{
    height: auto;
    width: 50px;
    float: left
}

.navbar-logo img{
    height: 50px;
    width:100%;/*valor inicial*/
    align-items: center;

}


/*barra de navegacion */
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #15548f;
}

/*hace qu se pongan uno al lado del otro */
li {
    float: left;
}

/*lista de enlaces*/

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #0e1011;
}


/*menu desplegable*/
.submenu{
	position: fixed;
	background: #15548f;
	width: 8%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
    
}


h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;

}



/*carrusel*/

.slider-frame {
	width: 1100px;
    height: auto;
	margin:10px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
	height: auto;
    display: block;
    animation: slide 20s infinite alternate ease-in-out;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/*las imagenes divididas en columnas*/

.columna {
	float: left;
	width: 30%;
	padding-right: 5px;
}

.fila::after {
	content: "";
	clear: both;
	display: table;
}

.fila .columna img{
	margin: 85px;
    width: 95%;
}



/*contacto*/

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}


button {
    background-color: #15548f;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0e1011;
}


#contenedorsection{
    height: 100%;
    width: 900px;
    display: flex;
    justify-content: center;
    padding: 60px;
    padding-left: 500px;
    padding-bottom: 130px;
}


#contenedosection #img{
    float: left;
    width: 50px;
}

figure{
    padding: 20px;
}

img{
    height: 300px;
    width: auto;
    border-radius: 20px;
}


#contenedosection #info{
    float: right;
}


/*footer*/

.footer {
    background-color: #15548f;
    color: #fff;
    margin-top: 200px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h2 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-bottom {
    background-color: #0e1011;
    padding: 10px 0;
    text-align: center;
}







